h1{
    animation: pointer 1000ms infinite alternate-reverse;
}

@keyframes pointer{
    0%{
        transform: translateY(0);
    }

    100%{
        transform: translateY(16px);
    }
}

.fa-sharp-duotone {
    width: 200px;
    height: 200px;
    background-color: aqua;
}